.background {
    -fx-background-color: #34495e;
}
#pane1 {
    -fx-background-color: #2980b9;
}
#pane {
    -fx-background-color: #2c3e50;
}
#root {

    -fx-background-color: #2c3e50;
}
#anim {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
     -fx-background-radius: 50;
	-fx-border-radius:50;
    -fx-background-color: #3498db;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}
#anim:focused {
    -fx-background-color: #2980b9;
}
#crea:focused {
    -fx-background-color: #27ae60;
}
#anim:hover {
    -fx-background-color: #2980b9;
}
#crea:hover {
    -fx-background-color: #27ae60;
}
#modi:focused {
    -fx-background-color: #c0392b;
}
#modi:hover {
    -fx-background-color: #c0392b;
}
#crea {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
	 -fx-background-radius: 50;
	-fx-border-radius:50;
    -fx-background-color: #2ecc71;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}
#modi {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
	-fx-border-radius:50;
    -fx-background-radius: 50;
    -fx-background-color: #e74c3c;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}
/***********/
.radio-button{
-fx-padding: 5 22 5 22;
    -fx-border-color: transparent;
	-fx-border-width: 0px;
    -fx-background-radius: 100;
    -fx-background-color: transparent;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;

}
#stop{
-fx-padding: 5 22 5 22;
    -fx-border-color: transparent;
	-fx-border-width: 0px;
    -fx-background-radius: 100;
    -fx-background-color: transparent;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}
#pause{
-fx-padding: 5 22 5 22;
    -fx-border-color: transparent;
	-fx-border-width: 0px;
    -fx-background-radius: 100;
    -fx-background-color: transparent;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}
#trajectoire{
	-fx-border-width: 0px;
    -fx-background-radius: 100;
    -fx-background-color: #2980b9;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}
.menu-bar {
    -fx-background-color: derive(#3498db,0%);
}

.context-menu {
    -fx-background-color: derive(#3498db,0%);
}
.menu-bar .menu:hover {
   	-fx-background-color: derive(#16a085,0%);
}
/*******/

.label {
    -fx-font-size: 9pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 0.6;
}
#titre{
    -fx-font-size: 13pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #3498db;
    -fx-opacity: 0.6;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.context-menu {
    -fx-background-color: derive(#1d1d1d,50%);
}

.menu-bar .label {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #16a085;
    -fx-opacity: 1;
}

.menu .left-container {
    -fx-background-color: black;
}

.text-field {
    -fx-font-size: 22pt;
    -fx-font-family: "Segoe UI Semibold";
}

.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #16a085;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}
.toggle-button {
    -fx-background-color: #16a085;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}
.toggle-button:selected{
    -fx-background-color:#c0392b;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}
.toggle-button:hover{
    -fx-background-color:#34495e;
}


.button:hover {
    -fx-background-color: #2ecc71;
}
.titled-pane{
-fx-background-color: #16a085;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: #7f8c8d;
  -fx-text-fill: #1d1d1d;
}

.button:focused {
 	-fx-background-color: #2980b9;
    -fx-border-color: #3498db, #3498db;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: #16a085;

    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}




.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
    -fx-background-color: transparent, derive(#1d1d1d,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}


.menu-bar .label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

menu-item:hover {
   	-fx-background-color: derive(#16a085,0%);
}


.text-field {
    -fx-font-size: 10pt;
    -fx-font-family: "Segoe UI Semibold";
}


.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color:transparent;
    -fx-border-width: 2;
    -fx-background-radius: 50;
	-fx-border-radius:50;
    -fx-background-color: #16a085;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}


.button:hover {
    -fx-background-color: #34495e;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: #2c3e50;
  -fx-text-fill: #1d1d1d;
}
.separator {
  -fx-background-color: #7CAFC2;
}


.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 50, 50;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}
.text{

}

.chart{
    -fx-background-color: #2c3e50;
}

.button:default {
    -fx-background-color: #16a085;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}

/*******************************************************/
.titled-pane:focused
{
-fx-text-fill: red;
}
.titled-pane > .title
{
-fx-background-color: -fx-box-border, -fx-inner-border, -fx-body-color;
-fx-background-insets: 0, 1, 2;
-fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
-fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; /* 2 10 3 10 */
}

.titled-pane:focused > .title
{
-fx-color: -fx-focus-color;
}

.titled-pane > .title > .arrow-button
{
-fx-background-color: null;
-fx-background-insets: 0;
-fx-background-radius: 0;
-fx-padding: 0.0em 0.25em 0.0em 0.0em; /* 0 3 0 0 */
}

.titled-pane > .title > .arrow-button .arrow
{
-fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
-fx-background-insets: 1 0 -1 0, 0;
-fx-padding: 0.25em 0.3125em 0.25em 0.3125em; /* 3 3.75 3 3.75 */
-fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

.titled-pane:collapsed > .title > .arrow-button .arrow
{
-fx-rotate: -90;
}

.titled-pane > *.content
{

 }